.social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s;

    .social-media a:hover {
    background: var(#0ef);
    color: var(#323946);
    box-shadow: 0 0 1rem var(#0ef);
}