{% extends 'pages/base.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
            <div class="col-4 mt-5">
                <div class="card border-secondary">
                    <div class="card-header bg-dark text-white">
                    </div>
                    <div class="card-body bg-secondary">
                        <img src="/media/pexels-harrison-haines-2973098.jpg" class="rounded" alt="...">
                        <div class="text-center mt-3">
                            <p class="text-white">Image 1</p>
                        </div>
                        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate dignissimos quam perferendis temporibus expedita, modi minus voluptas esse quasi quisquam soluta? Totam nesciunt nam dolores sit blanditiis quasi aliquam?</strong></p>
                    </div>
                </div>
            </div>
        <div class="col-4 mt-5">
                <div class="card border-secondary">
                    <div class="card-header bg-dark text-white">
                    </div>
                    <div class="card-body bg-secondary">
                        <img src="/media/pexels-helena-lopes-1862000.jpg" class="rounded" alt="...">
                        <div class="text-center mt-3">
                            <p class="text-white">Image 1</p>
                        </div>
                        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate dignissimos quam perferendis temporibus expedita, modi minus voluptas esse quasi quisquam soluta? Totam nesciunt nam dolores sit blanditiis quasi aliquam?</strong></p>
                    </div>
                </div>
            </div>
        <div class="col-4 mt-5">
                <div class="card border-secondary">
                    <div class="card-header bg-dark text-white">
                    </div>
                    <div class="card-body bg-secondary">
                        <img src="/media/pexels-kevin-villaruz-1660603.jpg" class="rounded" alt="...">
                        <div class="text-center mt-3">
                            <p class="text-white">Image 1</p>
                        </div>
                        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate dignissimos quam perferendis temporibus expedita, modi minus voluptas esse quasi quisquam soluta? Totam nesciunt nam dolores sit blanditiis quasi aliquam?</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}